{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

# brewfile hash: {{ joinPath .chezmoi.homeDir "dotfiles/zsh/brewfiles/macapps.brewfile" | sha256sum }}
echo "Updating installed packages (mac apps)"
brew bundle --file="$ZSHDIR/brewfiles/macapps.brewfile"
wdh_brewfile-cleanup
{{- end }}