# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
# setup p10k settings
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh


DOTFILES="$HOME/dotfiles"

ZSHDIR="$DOTFILES/zsh"
ITERMDIR="$DOTFILES/iterm"
GITDIR="$DOTFILES/git"

LOCALDIR="/usr/local"

source $ZSHDIR/dotfile_util.zsh
source $ZSHDIR/setup.zsh
source $ZSHDIR/plugins.zsh

# in setup.zsh
run-zsh-setup

# source aliases after setup to make sure aliased commands have been installed
source $ZSHDIR/aliases.zsh
source $ZSHDIR/functions.zsh

